@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: 0;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

body{
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden;
    background-image: url(../images/Fond_violet.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
      
}

.imgfond{
    position: absolute;
    z-index: -1;
    right: 0;
    width: 100%;
    top: -181px;
}

.block{
    position: relative;
    width: 100%;
    
    height: auto;
    
}

footer{
    width: 100%;
    min-height: 150px;
    background-color: #ffffff;
    box-shadow:  1px 1px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

footer p{
    width: 80%;
    text-align: center;
    padding: 0 !important;
    letter-spacing: 1px;
   
  
}

nav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn{
    margin-right: 50px;
    background: #fff;
    color: #9273b8;
    font-weight: bold;
    padding: 20px 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    

}

.btn img{
    padding-right: 10px;
}

.logo{
    margin-left: 50px;
}

.block_card{
    width: 100%;
    height: 100%;
    
    text-align: center;
   
}

.card_container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

}

h1{
    padding-top: 70px;
    padding-bottom: 50px;
    font-size: 70px;
    font-weight: 400;
    color: #fff;
}

.card{
    width: 400px;
    height: 500px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;

}

.imageblock{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

.content{
    margin-bottom: -180px;
    width: 300px;
    height: 400px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0px 1px 6px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

p{
    padding: 20px;
    color: #8E8E8E;
}

.lienSite{
    background-color: #9273b8;
    color: #fff;
    padding: 10px 20px;
    border-radius: 50px;
}

.submit{
    width: 315px;
    height: 40px; border: none;
    background-color: #5d3578;
    color: #fff; padding: 0px 15px;
    font-weight : bold;
    letter-spacing: 0.5px; 
}

.submit:hover{
    background-color: #8652a8;
    transition: 0.5s;
}

.email{
    width: 300px; height: 40px; border: none; padding-left: 15px;
}

@media (max-width: 1530px){

    .imgfond{
        width: initial !important;
    }
 }

@media (max-width: 800px){
    .logo{
        width: 250px;
        height: auto;
    }    
   
}

@media (max-width: 744px){

    h1{
        font-size: 40px;
    }
}

@media (max-width: 602px){

    .logo{
        height: auto;
        width: 150px;
        margin-left: 10px;
    }
    .btn{
        padding : 8px 10px;
    }
}

@media (max-width: 400px){

    .logo{
        
        margin-left: 16px;
    }
    .btn{
        padding : 8px 8px;
        margin-right: 10px;
    }
    .card{
        width: 320px;
    }

    .imageblock{
        width: 320px;
    }
    h1{
        font-size: 30px;
    }
}

@media (max-width: 391px){

    form{
        width: 100%;

    }

    input{
        width: 280px !important;
    }


 }


 @media (min-width: 1980px){
    footer{
        position: fixed;
        bottom: 0;
        left: 0;
    }
}

